<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <button type="submit" name="save" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>@T("Admin.Common.Save")
        </button>
    </div>
</div>