<div class="btn-group">
    <button class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@T("ima9ines.Nop.UpdatePlugin")</button>
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="clearfix" href="#">@T("ima9ines.Nop.UpdatePlugin.Settings")</a>
        </li>
        <li>
            <a class="clearfix" href="#">@T("ima9ines.Nop.UpdatePlugin.Resources")</a>
        </li>
    </ul>
</div>