@using Nop.Web.Framework.UI;

@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Twitter/Content/twitterstyles.css");   
}
<div class="twitter-login-block">
    <div class="title">
        @T("Plugins.ExternalAuth.Twitter.Login")
    </div>
    <div class="buttons">
        <a href="@Url.RouteUrl("Plugin.ExternalAuth.Twitter.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="twitter-btn">
            &nbsp;</a>
    </div>
</div>
