@{
    Layout = "";
}

    <table class="adminContent">
        <tr>
            <td class="adminTitle" colspan="2">
                <p>
                    Like plugin (Free)  is a free open source plugin designed by Anik Saha for the NopCommerce community and it will be open source. See <a href="https://www.youtube.com/watch?v=45ZpQoYYVuQ&feature=youtu.be">Demo Here</a>   This is a nopCommerce plugin which allows people to like a product and also show user likenumber beside a product. People can also see their all like product. It also helpful for admin.They can see most liked product in admin panel.
                </p>
            </td>
        </tr>
        <tr> 
    </table>

